header{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    /*ajout de limage de fond*/
    background-image: url("CSS/header.jpg");
    /*redimension de limage pur qu'elle couvre la page*/
    background-size: cover;
    height:368px;
    /*définition d'un contenant flexible (affichage)*/
    display: flex;
    /*alignement horizontal(centré) des enfants du header*/
    justify-content: center;
    /*alignement vertical (centré) des enfants du leader*/
    align-items: center;
    font-size: 40px;
}
ul{
    font-size: 25px;
    /*enlève les puces aux items de la liste*/
    list-style-type: none;
    /*aligne la liste du menu*/
    display: flex;
    /*alignement horizontal*/
    justify-content: space-around;
    border: khaki;
}
a{
    /*suppression du texte souligné*/
    text-decoration: none ;
    /*texte en noir*/
    color:rgb(0, 0, 0);
}
.presentation{
    font-family: Verdana;
    font-size: 12 ;
    background-color: rgb(151, 151, 144);
    border: 10px solid transparent;
    padding: 35px;
    margin: 50px;
    text-align: center;
    display: flex;
    color: white;
}
#blockLine{
    display: flex;
}
img{
   width: 75%; 
}
.block{
    text-align: center;
    margin: 10px 15px;
}
p{
    text-align: justify;
}
/*............................Medias Queries........................*/
/*pour une largeur d'écran inférieure à 992px la ligne de bloc ne sera pas alignée horizontalement mais verticalement*/
@media screen and (max-width: 992px){
    #blockLine{
      flex-direction: column;
    }
  }
/*pour une largeur d'écran inférieure à 680px...*/
@media screen and (max-width: 680px){
    /* on masque les éléments de la navbar */
    a, form{
      display: none;
    }
    #navIcon{
        display: block;
    }
}